{% extends 'homepage/base.html' %}
{% load static %}

{% block content %}
<div class="super_container">
<!-- Single Product -->

<div class="single_product">
	<div class="container" style="margin-bottom:100px;">
		<div class="row">
			<!-- Images -->
			<div class="col-lg-2 order-lg-1 order-2">
				<ul class="image_list">
					<li data-image="{{object.image.url}}"><img src="{{object.image.url}}" alt=""></li>
					<li data-image="{{object.image.url}}"><img src="{{object.image.url}}" alt=""></li>
					<li data-image="{{object.image.url}}"><img src="{{object.image.url}}" alt=""></li>
				</ul>
			</div>

			<!-- Selected Image -->
			<div class="col-lg-5 order-lg-2 order-1">
				<div class="image_selected"><img src="{{object.image.url}}" alt=""></div>
			</div>

			<!-- Description -->
			<div class="col-lg-5 order-3">
				<div class="product_description">
					<div class="product_category" style="background-color: violet; width: fit-content; font-size: medium;">Category: {{ object.category }}</div>
					<div class="product_name">{{ object.title }}</div>
					<div class="product_author">By Author: {{ object.author }}</div>
					<div class="product_publisher">Publisher: {{ object.publisher }}</div>
					<div class="product_text"><p>Description: {{ object.description }}</p></div>
					<div class="order_info d-flex flex-row">
						<form action="">
							{% if object.discount_price %}
							<div class="product_price" style="background-color: red; width: fit-content; color: white;">{{ object.discount_price }} VND</div>
							<div class="product_price" style="background-color: yellow; width: fit-content;"><del>{{ object.price }} VND </del></div>
							{% else %}
							<div class="product_price" style="background-color: yellow; width: fit-content;">{{ object.price }} VND</div>
							{% endif %}
							<div class="button_container">
								<a href="{{ object.get_add_to_shoppingcart_url}}" class="button cart_button" style="color: white;">Add to Cart</a>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
